.radio.d-flex.align-items-center
    .container
        .row.align-items-center
            audio(src='https://live.arshin.ru:8444/discovery' data-id='null' data-radio='true' id='audio')
            .col-12.col-lg-8
                .d-flex.align-items-center
                    .radio__play
                        <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.88075 4.08234C10.6843 4.43027 10.6843 5.56973 9.88075 5.91766L1.39736 9.59108C0.737077 9.87699 4.99384e-07 9.39294 5.30836e-07 8.67342L8.51976e-07 1.32659C8.83428e-07 0.607058 0.737078 0.123011 1.39736 0.408922L9.88075 4.08234Z" fill="white"/>
                        </svg>
                    .radio__volume.d-none.d-lg-flex.align-items-center
                        .radio__mute
                            <svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.65569 0.103125C8.77746 0.161787 8.88023 0.253598 8.95218 0.368019C9.02414 0.48244 9.06238 0.614833 9.0625 0.75V12.25C9.06231 12.3852 9.02396 12.5177 8.95186 12.6321C8.87977 12.7466 8.77685 12.8383 8.65493 12.8969C8.53302 12.9554 8.39706 12.9784 8.26267 12.9631C8.12829 12.9479 8.00094 12.895 7.89525 12.8106L4.49844 10.0938H1.15625C0.965626 10.0938 0.782809 10.018 0.648017 9.88323C0.513225 9.74844 0.4375 9.56562 0.4375 9.375V3.625C0.4375 3.43438 0.513225 3.25156 0.648017 3.11677C0.782809 2.98198 0.965626 2.90625 1.15625 2.90625H4.49844L7.89525 0.189374C8.00101 0.104832 8.1285 0.0518821 8.26303 0.0366229C8.39757 0.0213637 8.53368 0.0444159 8.65569 0.103125ZM18.9151 3.11612C18.9821 3.18289 19.0352 3.26221 19.0714 3.34953C19.1076 3.43685 19.1263 3.53046 19.1263 3.625C19.1263 3.71954 19.1076 3.81315 19.0714 3.90047C19.0352 3.98779 18.9821 4.06711 18.9151 4.13387L16.5476 6.5L18.9151 8.86612C19.0501 9.00109 19.1259 9.18413 19.1259 9.375C19.1259 9.56586 19.0501 9.74891 18.9151 9.88387C18.7802 10.0188 18.5971 10.0947 18.4062 10.0947C18.2154 10.0947 18.0323 10.0188 17.8974 9.88387L15.5312 7.51631L13.1651 9.88387C13.0302 10.0188 12.8471 10.0947 12.6562 10.0947C12.4654 10.0947 12.2823 10.0188 12.1474 9.88387C12.0124 9.74891 11.9366 9.56586 11.9366 9.375C11.9366 9.18413 12.0124 9.00109 12.1474 8.86612L14.5149 6.5L12.1474 4.13387C12.0805 4.06705 12.0275 3.98771 11.9914 3.9004C11.9552 3.81309 11.9366 3.71951 11.9366 3.625C11.9366 3.53049 11.9552 3.43691 11.9914 3.3496C12.0275 3.26229 12.0805 3.18295 12.1474 3.11612C12.2823 2.98116 12.4654 2.90534 12.6562 2.90534C12.7508 2.90534 12.8443 2.92396 12.9317 2.96012C13.019 2.99629 13.0983 3.0493 13.1651 3.11612L15.5312 5.48369L17.8974 3.11612C17.9641 3.04919 18.0435 2.99608 18.1308 2.95985C18.2181 2.92362 18.3117 2.90497 18.4062 2.90497C18.5008 2.90497 18.5944 2.92362 18.6817 2.95985C18.769 2.99608 18.8484 3.04919 18.9151 3.11612Z" fill="white"/>
                            </svg>
                        .radio__range
                            input(type='range' id='rangeAudio' value='1' min='0' max='1' step='0.05')
                    .radio__info.d-flex.align-items-center
                        .radio__image
                            img(src='../img/audio.png' id='radioImage' alt='123')
                        .radio__wrap
                            .radio__name#radioName Название трека/программы
                            .radio__author#radioAuthor VANOTEK / SLIDER / MAGNIT / MIKAYLA
            .col-4
                .radio__radio.d-flex.justify-content-end
                    a(href='#' id='backToRadio') К радио



