header.header
    .container
        .row.align-items-center.justify-content-between
            .col-6.col-md-4
                .header__logo
                    a(href='/').d-flex.align-items-center
                        img(src='../img/logo.png' alt='123')
                        .header__fm 92,5 FM
            .col-12.col-md-8.col-lg-5.d-none.d-sm-none.d-md-block
                ul.header__menu.d-flex.justify-content-between
                    li.active
                        a(href='#') РАДИО
                    li
                        a(href='#') ИДЕЯ
                    li
                        a(href='#') ИДЕЯ
                    li
                        a(href='#') ИДЕЯ
                    li
                        a(href='#') ИДЕЯ
            .col-4.d-md-none
                ul.header__social.d-flex.align-items-center.justify-content-between
                    li
                        a(href='#')
                            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.2521 0.125H6.49648C1.24414 0.125 -0.000976562 1.37012 -0.000976562 6.62246V12.3781C-0.000976562 17.6305 1.24414 18.8756 6.49648 18.8756H12.2521C17.5045 18.8756 18.7496 17.6305 18.7496 12.3781V6.62246C18.7496 1.37012 17.4922 0.125 12.2521 0.125ZM15.1361 13.5008H13.775C13.2594 13.5008 13.1006 13.0918 12.173 12.1519C11.3674 11.3709 11.0105 11.2672 10.8119 11.2672C10.5312 11.2672 10.4516 11.3463 10.4516 11.7312V12.9611C10.4516 13.291 10.3478 13.4891 9.4748 13.4891C8.03105 13.4891 6.4291 12.616 5.30586 10.9895C3.61191 8.60586 3.14844 6.82051 3.14844 6.45137C3.14844 6.25273 3.22754 6.06699 3.60898 6.06699H4.97305C5.31816 6.06699 5.44941 6.22578 5.58359 6.59492C6.25801 8.54199 7.38125 10.2477 7.84473 10.2477C8.01582 10.2477 8.09492 10.1686 8.09492 9.73203V7.72109C8.04277 6.79355 7.55469 6.71387 7.55469 6.38457C7.55469 6.22578 7.68594 6.06699 7.89629 6.06699H10.0414C10.3314 6.06699 10.4381 6.22578 10.4381 6.56738V9.28027C10.4381 9.57324 10.5693 9.67695 10.6484 9.67695C10.8195 9.67695 10.966 9.57324 11.283 9.25566C12.2627 8.15703 12.9646 6.46308 12.9646 6.46308C13.0561 6.26445 13.2148 6.07871 13.56 6.07871H14.924C15.333 6.07871 15.4244 6.28906 15.333 6.58203C15.1619 7.37539 13.4926 9.73144 13.4926 9.73144C13.349 9.96933 13.2939 10.073 13.4926 10.3385C13.6391 10.5371 14.1154 10.949 14.4324 11.3182C15.0154 11.9803 15.4637 12.5357 15.5832 12.9201C15.7174 13.3016 15.5193 13.5002 15.1344 13.5002L15.1361 13.5008Z" fill="white"/>
                            </svg>
                    li
                        a(href='#')
                            <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.0835 9.5C19.0835 14.6773 14.8858 18.875 9.70849 18.875C4.53115 18.875 0.333496 14.6773 0.333496 9.5C0.333496 4.32266 4.53115 0.125 9.70849 0.125C14.8858 0.125 19.0835 4.32266 19.0835 9.5ZM10.0444 7.04609C9.13271 7.425 7.31006 8.21015 4.57725 9.40078C4.1335 9.57734 3.90068 9.75 3.87959 9.91875C3.84365 10.2047 4.20146 10.3172 4.6874 10.4695C4.75381 10.4906 4.82256 10.5117 4.89287 10.5352C5.37178 10.6906 6.01553 10.8727 6.3499 10.8797C6.65381 10.8859 6.99287 10.7609 7.36709 10.5047C9.92021 8.78047 11.2382 7.90937 11.321 7.89062C11.3796 7.87734 11.4608 7.86015 11.5155 7.90937C11.5702 7.95781 11.5647 8.05 11.5593 8.075C11.5233 8.22578 10.1218 9.52969 9.39521 10.2047C9.16865 10.4148 9.00849 10.5641 8.97568 10.5984C8.90224 10.6742 8.82724 10.7469 8.75537 10.8164C8.31006 11.2445 7.97724 11.5664 8.77412 12.0914C9.15693 12.3437 9.46318 12.5523 9.76865 12.7602C10.1022 12.9875 10.4351 13.2141 10.8663 13.4969C10.9757 13.5687 11.0804 13.643 11.1827 13.7156C11.571 13.993 11.9202 14.2414 12.3515 14.2023C12.6015 14.1789 12.8608 13.9437 12.9921 13.2414C13.3022 11.5805 13.9132 7.98359 14.0546 6.50078C14.0632 6.37767 14.058 6.25397 14.039 6.13203C14.0276 6.03354 13.9796 5.94291 13.9046 5.87812C13.7929 5.78672 13.6194 5.76719 13.5413 5.76875C13.189 5.775 12.6483 5.96328 10.0444 7.04609Z" fill="white"/>
                            </svg>
                    li
                        a(href='#')
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.1667 7.2456C8.37475 7.2456 6.91234 8.708 6.91234 10.5C6.91234 12.292 8.37475 13.7544 10.1667 13.7544C11.9587 13.7544 13.4211 12.292 13.4211 10.5C13.4211 8.708 11.9587 7.2456 10.1667 7.2456ZM19.9275 10.5C19.9275 9.15234 19.9397 7.81689 19.864 6.47167C19.7883 4.90917 19.4319 3.52245 18.2893 2.37988C17.1443 1.23486 15.76 0.880853 14.1975 0.805169C12.8498 0.729486 11.5144 0.741693 10.1692 0.741693C8.82152 0.741693 7.48608 0.729486 6.14086 0.805169C4.57836 0.880853 3.19164 1.2373 2.04907 2.37988C0.904046 3.5249 0.550042 4.90917 0.474359 6.47167C0.398675 7.81933 0.410882 9.15478 0.410882 10.5C0.410882 11.8452 0.398675 13.1831 0.474359 14.5283C0.550042 16.0908 0.906488 17.4775 2.04907 18.6201C3.19408 19.7651 4.57836 20.1191 6.14086 20.1948C7.48852 20.2705 8.82396 20.2583 10.1692 20.2583C11.5168 20.2583 12.8523 20.2705 14.1975 20.1948C15.76 20.1191 17.1467 19.7627 18.2893 18.6201C19.4343 17.4751 19.7883 16.0908 19.864 14.5283C19.9421 13.1831 19.9275 11.8476 19.9275 10.5ZM10.1667 15.5073C7.39574 15.5073 5.15942 13.271 5.15942 10.5C5.15942 7.729 7.39574 5.49267 10.1667 5.49267C12.9377 5.49267 15.1741 7.729 15.1741 10.5C15.1741 13.271 12.9377 15.5073 10.1667 15.5073ZM15.3791 6.45702C14.7322 6.45702 14.2097 5.93456 14.2097 5.28759C14.2097 4.64062 14.7322 4.11816 15.3791 4.11816C16.0261 4.11816 16.5486 4.64062 16.5486 5.28759C16.5488 5.44122 16.5186 5.59337 16.4599 5.73534C16.4012 5.87731 16.3151 6.0063 16.2065 6.11493C16.0979 6.22357 15.9689 6.3097 15.8269 6.3684C15.6849 6.4271 15.5328 6.45722 15.3791 6.45702Z" fill="white"/>
                            </svg>