.news-image {
  &-first {
    max-width: 542px;
    width: 50vw;
    position: absolute;
    top: -107px;
    left: -336px;
    z-index: -1;
    @include media(768) {
      left: -150px;
    }
  }
}

.idea-image {
  &-first {
    max-width: 616px;
    width: 50vw;
    position: absolute;
    top: -230px;
    left: -336px;
    z-index: -1;
    @include media(768) {
      left: -150px;
    }
  }
}
.efir-image {
  &-first {
    max-width: 552px;
    width: 50vw;
    position: absolute;
    top: -230px;
    left: -266px;
    z-index: -1;
    @include media(768) {
      left: -150px;
    }
  }
}
.video-image {
  &-first {
    max-width: 645px;
    width: 50vw;
    position: absolute;
    top: -170px;
    left: -390px;
    z-index: -1;
    @include media(768) {
      left: -150px;
    }
  }
}
.chart-image {
  &-first {
    max-width: 552px;
    width: 50vw;
    position: absolute;
    top: -100px;
    left: -250px;
    z-index: -1;
    @include media(768) {
      left: -150px;
    }
  }
}

.content {
  font-size: 22px;
  line-height: 32px;
  @include media(768) {
    font-size: 16px;
  }
  h1,h2,h3,h4,h5,h5 {
    font-weight: bold;
    line-height: 1.5;
  }
  h2 {
    font-size: 70px;
    padding-bottom: 58px;
  }
  h3 {
    font-size: 56px;
    padding-bottom: 40px;
  }
  h4 {
    font-size: 42px;
    padding-bottom: 32px;
  }
  p {
    padding: 10px 0;
  }
  b {
    font-weight: 700;
  }
  img {
    max-width: 100%;
    vertical-align: top;
  }
  &_idea {
    padding-top: 100px;
    @include media(768) {
      padding-top: 40px;
    }
  }
  &_news {
    padding-top: 145px;
    @include media(768) {
      padding-top: 60px;
    }
  }
}

.idea__banner {
  max-width: 1920px;
  margin: 161px auto 0;
  position: relative;
  img {
    width: 100%;
    vertical-align: top;
  }

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 83px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
    @include media(768) {
      font-size: 36px;
      line-height: 1.5;
    }
  }
}

.images {
  &_idea {
    padding-top: 106px;
  }
  &__item {
    overflow: hidden;
    border-radius: 40px;
    margin-bottom: 25px;
    img {
      width: 100%;
      vertical-align: top;
    }
  }
}

.button-load {
  padding-top: 90px;
  a {
    max-width: 250px;
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #733CF5;
    border-radius: 20px;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
  }
}
.page_charts {
  padding-top: 143px;
  @include media(768) {
    padding-top: 70px;
  }
}