extends ./layouts/layout.jade

block content
    section.section_page.section_page-news
        .container.container_relative
            img(src='../img/idea-page.png').news-image.idea-image-first
            .row
                .col-12
                    h1.title.title_main Идея открытия
            .content.content_idea
                .row.align-items-center
                    .col-12.col-md-8
                        p Наша идея — уникальная структура медийной среды, призванная
                            <b>создать устойчивый интерес аудитории к продвигаемому редакцией культурно-просветительскому и образовательному контенту.</b>
                        p Это будет площадка, которая использует для обозначенной цели все существующие на сегодня телекоммуникационные возможности и применяет самые актуальные и популярные у целевой аудитории формы подачи материала.
                        p Кто сказал, что детей в младшем школьном возрасте чему-то научить через игру можно, а подростков — нельзя?
                        p Если карточка с розовым слоником и надписью elephant помогает ребёнку учить английский язык в детстве, то и баттл аллюзий на «Щелкунчика», так или иначе, погрузит молодого автора в музыку Петра Ильича...
                    .col-12.col-md-4
                        img(src='../img/idea-image.png')
            .content.content_idea
                .row.align-items-center.justify-content-between
                    .col-12.col-md-6
                        img(src='../img/idea-image-2.png')
                    .col-12.col-md-5
                        p Наша идея — уникальная структура медийной среды, призванная создать устойчивый интерес аудитории к продвигаемому редакцией культурно-просветительскому и образовательному контенту.
                        p Это будет площадка, которая использует для обозначенной цели все существующие на сегодня телекоммуникационные возможности и применяет самые актуальные и популярные у целевой аудитории формы подачи материала.
                        p Кто сказал, что детей в младшем школьном возрасте чему-то научить через игру можно, а подростков — нельзя?
                        p Если карточка с розовым слоником и надписью
        .idea__banner
            img(src='../img/idea-banner.jpg')
            p Текст для фото
        .container
            .content.content_idea
                .row
                    .col-12.col-md-8
                        h2 Заголовок
                        p Наша идея — уникальная структура медийной среды, призванная создать устойчивый интерес аудитории к продвигаемому редакцией культурно-просветительскому и образовательному контенту.
                        p Это будет площадка, которая использует для обозначенной цели все существующие на сегодня телекоммуникационные возможности и применяет самые актуальные и популярные у целевой аудитории формы подачи материала.
                        p Кто сказал, что детей в младшем школьном возрасте чему-то научить через игру можно, а подростков — нельзя?
                        p Если карточка с розовым слоником и надписью
            .images.images_idea
                .row
                    .col-12.col-md-6
                        .images__item
                            img(src='../img/img.jpg')
                    .col-12.col-md-6
                        .images__item
                            img(src='../img/img.jpg')