.first-screen
    .first-screen__slider.js-slider
        - for(var x = 0; x < 10;x++)
            .first-screen__item(style='background-image:url(../img/rect.jpg)')
                .container
                    .first-screen__content
                        h1.first-screen__title открытие
                        p.first-screen__desc радио нового поколения
                        a(href='#').first-screen__button подробнее